table {
	padding:0px;
}

td {
	padding:0px;
}

div {
	padding:0px;
	margin:0px;
}

.signature {
	color:black;
	font-size:13px;
	font-family:verdana,arial;
}

.big {
	font-family:verdana,arial;
	font-size:50px;
	color:black;
}

input, textarea, select {
	cursor:pointer;
}

label {
	border-bottom:1px gray dotted;
}
label:hover {
	border-bottom:1px gray solid;
	cursor:pointer;
}

/**
 *
 * Allgemeine Formulare und Formularelemente
 *
 */
form {
	padding:0px;
	margin:0px;
}

textarea.FormTextArea {
	border:1px #000000 dotted;
	padding:4px;
	font-size:11px;
	font-family:verdana,arial;
}
textarea.FormTextArea:focus {
	border:1px #696969 solid;
	padding:4px;
	font-size:11px;
	font-family:verdana,arial;
}

input.FormText {
	border:1px #000000 dotted;
	padding:3px;
	font-size:11px;
	font-family:verdana,arial;
}
input.FormText:hover {
	border:1px #696969 solid;
	cursor:pointer;
}
input.FormText:focus {
	border:1px #000000 solid;
	padding:3px;
	font-size:11px;
	font-family:verdana,arial;
}

input.FormBButton {
	background-color:#d4d0c8;
	border:2px #000000 outset;
	padding:2px;
	padding-left:15px;
	padding-right:15px;
	font-size:11px;
	font-family:verdana,arial;
	font-weight:bold;
}

input.FormBButton:hover {
	background-color:#F8F8FF;
	border:2px #000000 inset;
	padding:2px;
	padding-left:15px;
	padding-right:15px;
	font-size:11px;
	font-family:verdana,arial;
	font-weight:bold;
	cursor:pointer;
}

input.FormButton {
	background-color:#d4d0c8;
	border:2px #000000 outset;
	padding:2px;
	padding-left:15px;
	padding-right:15px;
	font-size:11px;
	font-family:verdana,arial;
}

input.FormButton:hover {
	background-color:#F8F8FF;
	border:2px #000000 inset;
	padding:2px;
	padding-left:15px;
	padding-right:15px;
	font-size:11px;
	font-family:verdana,arial;
	cursor:pointer;
}

input.FormBBCodeButton {
	border:1px #000000 solid;
	font-size:10px;
	font-family:verdana,arial;
	padding-left:8px;
	padding-right:8px;
}


select.FormSelect {
	padding:2px;
	border:2px #000000 inset;
	font-size:11px;
	font-family:verdana,arial;
}



a:link { /* Ein normaler Link */
	color:blue;
	text-decoration: none;
}
a:visited { /* Ein besuchter Link */
	color:blue;
	text-decoration: none;
}
a:hover { /* Maus ueber einem Link */
	text-decoration: underline;
}

.ForumLink {
	font-family:verdana,arial;
	font-size:13px;
	color:black;
	font-weight:bold;
}
a.ForumLink { color:blue; }
a.ForumLink:visited { color:#4169E1; }


.topiclink {
	font-family:verdana,arial;
	font-size:13px;
	color:black;
	font-weight:bold;
}
a.topiclink { color:#0C6B9C; text-decoration:none;}
a.topiclink:visited { color:#014F77; text-decoration:none;}
a.topiclink:hover { color:#014F77; text-decoration:underline; }


/* Navigationsleiste */
.FontNavbar { /* Schriftformatierung */
	font-family:verdana,arial;
	font-size:10px;
	color:black;
	font-weight:bold;
}
td.CellNavbar { /* Hintergrund */
	padding:0px;
	padding-left:2px;
	height:17px;
	background-image:url(../images/v3.gif);
	background-color:#F1FAFF;
	border:#ACACAC 1px solid;
}
td.CellNavbarBig { /* Hintergrund */
	padding:0px;
	padding-left:2px;
	height:27px;
	background-image:url(../images/v4.gif);
	background-color:#F1FAFF;
	border:#ACACAC 1px solid;
}
table.TableNavbar { /* Tabelleneigenschaften */
	/*background-color:#107AB0;*/
	background-color:#FFFFFF;
	border:#000000 2px solid;
	padding:1px;
	border-spacing:0px;
}

.techstats {
	font-family:verdana,arial;
	font-size:10px;
	color:#A9A9A9;
}

/**
*
* Hier beginnt die neue Definition
*
**/



/**
*
* Die Standardangaben fuer Tabellen und Tabellenzellen
*
**/
table.TableStd{
	background-color:#FFFFFF;
	border:2px #000000 solid;
	border-spacing:1px;
	empty-cells:show;
	border-collapse:separate;
}

td.CellStd {
	padding:3px;
	border:#ACACAC 1px solid;
	background-color:#EEF0F2;
}

td.CellAlt {
	padding:3px;
	border:#ACACAC 1px solid;
	background-color:#DFE6EF;
}

td.CellHighlight {
	padding:3px;
	/*border:#000000 1px dashed;*/
	border:#8c8c8c 1px dashed;
	background-color:#d5dce5;
}
td.CellMessageBox {
	padding:15px;
	border:#ACACAC 1px solid;
	background-color:#EEF0F2;
	text-align:center;
}
/*tr.RowToHighlight {
	padding:5px;
	border:3px black solid;
	margin:10px;
}
tr.RowToHighlight:hover {
	padding:30px;
	border:2px black solid;
}*/

/**
*
* Die allgemeinen Schriftarten
*
**/
.FontBig {
	font-family:verdana,arial;
	font-size:17px;
	color:#000000;
}

.FontNorm {
	font-family:verdana,arial;
	font-size:13px;
	color:#000000;
}

.FontSmall {
	font-family:verdana,arial;
	font-size:10px;
	color:#000000;
}


/**
*
* Die Titeltabellenzelle
*
**/
.FontTitle {
	font-family:verdana,arial;
	font-size:13px;
	letter-spacing:1px;
	color:#FFFFFF;
	font-weight:bold;
}
.FontTitleSmall {
	font-family:verdana,arial;
	font-size:11px;
	color:#FFFFFF;
	font-weight:bold;
}
td.CellTitle {
	padding:0px;
	padding-left:3px;
	padding-right:3px;
	height:30px;
	background-image:url(../images/celltitle.gif);
	background-color:#107AB0;
}
td.CellTitle a:link {
	color:yellow;
	text-decoration:none;
}
td.CellTitle a:visited {
	color:yellow;
	text-decoration:none;
}
td.CellTitle a:hover {
	color:yellow;
	text-decoration:underline;
}

/**
*
* Die Kategorietabellenzelle
*
**/
.FontCat {
	font-family:verdana,arial;
	font-size:13px;
	font-weight:bold;
	color:#FFFFFF;
}
.FontCatSmall {
	font-family:verdana,arial;
	font-size:10px;
	font-weight:bold;
	color:#FFFFFF;
}

td.CellCat {
	padding:0px;
	padding-left:3px;
	padding-right:3px;
	height:25px;
	background-image:url(../images/cellcat.gif);
	background-color:#000000;
}
td.CellCat a:link {
	color:yellow;
	text-decoration:none;
}
td.CellCat a:visited {
	color:yellow;
	text-decoration:none;
}
td.CellCat a:hover {
	color:yellow;
	text-decoration:underline;
}


/**
 *
 * Die Navigation z.B. im Profil (nicht die Navigationsleiste!)
 *
 **/
td.CellNavActive {
	background-color:#a9b3d9;
	padding:4px;
	padding-top:7px;
	padding-bottom:7px;
	cursor:default;
	border:1px #838ba8 solid;
}
td.CellNone {
	background-color:#F7F7F7;
	text-align:center;
}
td.CellNav {
	background-color:#FFFFFF;
	padding:5px;
	padding-top:8px;
	padding-bottom:8px;
	cursor:default;
	/*border:1px lightgray dotted;*/
}
td.CellNav:hover {
	background-color:#E5F3FF;
	border:1px #4169E1 solid;
	cursor:pointer;
	padding:4px;
	padding-top:7px;
	padding-bottom:7px;
}

td.CellNavNone {
	background-color:#FFFFFF;
	padding:3px;
	cursor:default;
}
hr.LineNav {
	color:black;
	background-color:black;
	height:1px;
	margin:4px;
	padding:0px;
	border:1px black solid;
}
table.TableNav {
	border:#ACACAC 1px solid;
}

a.FontNav {
	font-family:verdana,arial;
	font-size:11px;
	color:darkblue;
	/*font-weight:bold;*/
	text-decoration:none;
}
a.FontNav:visited {
}
a.FontNav:hover {
}


/**
*
* Die Tabellenzelle fuer die Buttons einer Form
*
**/
td.CellButtons {
	background-color:#778899;
	border:1px #000000 solid;
	padding:1px;
}
.FontButtonsStd {
	font-family:verdana,arial;
	font-size:13px;
	color:#FFFFFF;
}

.FontButtonsSmall {
	font-family:verdana,arial;
	font-size:10px;
	color:#FFFFFF;
}


/**
*
* Eine Fehlerbox
*
**/
.FontError {
	font-family:verdana;
	font-size:13px;
	color:#FF0000;
}
td.CellError{
	background-color:#FFD1D1;
	border:1px #FF0000 solid;
	padding:3px;
}

/**
 *
 * Eine Infobox
 *
 */
td.CellInfoBox {
	background-color:#FAFAD2;
	border:1px olive dotted;
	padding:4px;
	margin-top:3px;
	margin-bottom:3px;
	vertical-align:middle;
}
div.DivInfoBox {
	/*background-color:#FAFAD2;*/
	background-color:#E6E6FA;
	/*border:1px olive dotted;*/
	border:1px #0000CD dotted;
	padding:4px;
	margin-top:4px;
	margin-bottom:4px;
	vertical-align:middle;
}
.FontInfoBox {
	font-family:verdana,arial;
	color:#111755;
	font-size:13px;
	/*vertical-align:middle;*/
}

/**
 *
 * Bilder
 *
 */
img.ImageIcon {
	margin-right:4px;
	float:left;
	vertical-align:middle;
}
img.ImageButton {
	margin-left:3px;
	margin-right:3px;
	margin-top:0px;
	margin-bottom:2px;
	/*vertical-align:middle;*/
}

/**
 * Das Copyright am unteren Seitenende
 */
table.TableCopyright {
	border:1px #ACACAC solid;
}

td.CellCopyright {
	background-color:#F0F8FF;
	padding:5px;
}

.FontCopyright {
	font-size:10px;
	color:#666699;
	font-family:verdana,arial;
	font-weight:bold;
}
a.FontCopyright:link { color:#a62a2a; }
a.FontCopyright:visited { color:#a62a2a; }
a.FontCopyright:active { color:#a62a2a; }