* text=auto !eol
/.DS_Store -text svneol=unset#application/octet-stream
/activateaccount.php -text
/ad_avatars.php -text
/ad_config.php -text
/ad_forums.php -text
/ad_groups.php -text
/ad_index.php -text
/ad_pheader.php -text
/ad_profile.php -text
/ad_ptail.php -text
/ad_ranks.php -text
/ad_smilies.php -text
/ad_templates.php -text
/ad_users.php -text
/administration.php -text
/auth.php -text
/bbcode.php -text
classes/navbar.class.php -text
classes/templates.class.php -text
db/mysql.basic.sql -text
db/mysql.class.php -text
db/mysql.class.php4.php -text
db/mysql.class.php5.php -text
db/mysql.drop.sql -text
db/mysql.scheme.sql -text
/dbconfig.php -text
docs/history.txt -text
docs/knownbugs.txt -text
docs/readme.html -text
docs/tech.html -text
/editpost.php -text
/editprofile.php -text
/edittopic.php -text
/forumindex.php -text
/functions.php -text
/functions_cache.php -text
/functions_cats.php -text
/functions_data.php -text
/functions_files.php -text
/functions_sessions.php -text
images/dot.gif -text
images/postpics/arrow.gif -text
images/postpics/attention.gif -text
images/postpics/bad.gif -text
images/postpics/cool.gif -text
images/postpics/good.gif -text
images/postpics/grin.gif -text
images/postpics/idea.gif -text
images/postpics/mad.gif -text
images/postpics/note.gif -text
images/postpics/question.gif -text
images/postpics/sad.gif -text
images/postpics/shy.gif -text
images/postpics/smile.gif -text
images/postpics/wink.gif -text
images/rankpics/admin.gif -text
images/rankpics/bstar.gif -text
images/rankpics/gstar.gif -text
images/rankpics/mod.gif -text
images/rankpics/rstar.gif -text
images/rankpics/supermod.gif -text
images/rankpics/ystar.gif -text
images/smilies/standard_biggrin.gif -text
images/smilies/standard_confused.gif -text
images/smilies/standard_cool.gif -text
images/smilies/standard_cry.gif -text
images/smilies/standard_dead.gif -text
images/smilies/standard_eek.gif -text
images/smilies/standard_embarrassed.gif -text
images/smilies/standard_laugh.gif -text
images/smilies/standard_mad.gif -text
images/smilies/standard_no.gif -text
images/smilies/standard_none.gif -text
images/smilies/standard_razz.gif -text
images/smilies/standard_rolleyes.gif -text
images/smilies/standard_sad.gif -text
images/smilies/standard_shy.gif -text
images/smilies/standard_sleep.gif -text
images/smilies/standard_smile.gif -text
images/smilies/standard_smilewinkgrin.gif -text
images/smilies/standard_uhoh.gif -text
images/smilies/standard_upset.gif -text
images/smilies/standard_wink.gif -text
images/smilies/standard_yes.gif -text
images/tsmilies/1.gif -text
images/tsmilies/10.gif -text
images/tsmilies/11.gif -text
images/tsmilies/12.gif -text
images/tsmilies/13.gif -text
images/tsmilies/14.gif -text
images/tsmilies/2.gif -text
images/tsmilies/3.gif -text
images/tsmilies/4.gif -text
images/tsmilies/5.gif -text
images/tsmilies/6.gif -text
images/tsmilies/7.gif -text
images/tsmilies/8.gif -text
images/tsmilies/9.gif -text
/index.php -text
/install.php -text
languages/de/emails/email_account_activation.tpl -text
languages/de/emails/email_new_reply_posted.tpl -text
languages/de/emails/email_password_requested.tpl -text
languages/de/emails/email_welcome.tpl -text
languages/de/language.cfg -text
languages/de/lng_admin.php -text
languages/de/lng_boardrules.php -text
languages/de/lng_install.php -text
languages/de/lng_main.php -text
languages/de/lng_messages.php -text
/login.php -text
/logout.php -text
/memberlist.php -text
misc/update_tbb1/readme.html -text
misc/update_tbb1/update_tbb1.php -text
/pheader.php -text
/pms.php -text
/pop_pheader.php -text
/pop_ptail.php -text
/postreply.php -text
/posttopic.php -text
/ptail.php -text
/register.php -text
/requestpassword.php -text
/search.php -text
/startup.php -text
/subscribetopic.php -text
templates/ts_tbb2_standard/activateaccount.tpl -text
templates/ts_tbb2_standard/ad_avatars.tpl -text
templates/ts_tbb2_standard/ad_avatars_addavatar.tpl -text
templates/ts_tbb2_standard/ad_avatars_editavatar.tpl -text
templates/ts_tbb2_standard/ad_config.tpl -text
templates/ts_tbb2_standard/ad_forums_addcat.tpl -text
templates/ts_tbb2_standard/ad_forums_addforum.tpl -text
templates/ts_tbb2_standard/ad_forums_addgroupright.tpl -text
templates/ts_tbb2_standard/ad_forums_adduserright.tpl -text
templates/ts_tbb2_standard/ad_forums_editcat.tpl -text
templates/ts_tbb2_standard/ad_forums_editforum.tpl -text
templates/ts_tbb2_standard/ad_forums_editsrights.tpl -text
templates/ts_tbb2_standard/ad_forums_overview.tpl -text
templates/ts_tbb2_standard/ad_groups_addgroup.tpl -text
templates/ts_tbb2_standard/ad_groups_editgroup.tpl -text
templates/ts_tbb2_standard/ad_groups_managemembers.tpl -text
templates/ts_tbb2_standard/ad_groups_overview.tpl -text
templates/ts_tbb2_standard/ad_index.tpl -text
templates/ts_tbb2_standard/ad_pheader.tpl -text
templates/ts_tbb2_standard/ad_profile.tpl -text
templates/ts_tbb2_standard/ad_profile_addfield.tpl -text
templates/ts_tbb2_standard/ad_profile_editfield.tpl -text
templates/ts_tbb2_standard/ad_ptail.tpl -text
templates/ts_tbb2_standard/ad_ranks_addrank.tpl -text
templates/ts_tbb2_standard/ad_ranks_editrank.tpl -text
templates/ts_tbb2_standard/ad_ranks_index.tpl -text
templates/ts_tbb2_standard/ad_smilies_add.tpl -text
templates/ts_tbb2_standard/ad_smilies_default.tpl -text
templates/ts_tbb2_standard/ad_smilies_edit.tpl -text
templates/ts_tbb2_standard/ad_templates_default.tpl -text
templates/ts_tbb2_standard/ad_users.tpl -text
templates/ts_tbb2_standard/ad_users_adduser.tpl -text
templates/ts_tbb2_standard/ad_users_edituser.tpl -text
templates/ts_tbb2_standard/ad_users_searchusers.tpl -text
templates/ts_tbb2_standard/bbcode_buttons.tpl -text
templates/ts_tbb2_standard/bbcode_html.tpl -text
templates/ts_tbb2_standard/editpost_edit.tpl -text
templates/ts_tbb2_standard/editprofile.tpl -text
templates/ts_tbb2_standard/editprofile_avatar.tpl -text
templates/ts_tbb2_standard/editprofile_avatarresult.tpl -text
templates/ts_tbb2_standard/editprofile_extendedprofile.tpl -text
templates/ts_tbb2_standard/editprofile_general.tpl -text
templates/ts_tbb2_standard/editprofile_header.tpl -text
templates/ts_tbb2_standard/editprofile_memo.tpl -text
templates/ts_tbb2_standard/editprofile_selectavatar.tpl -text
templates/ts_tbb2_standard/editprofile_settings.tpl -text
templates/ts_tbb2_standard/editprofile_tail.tpl -text
templates/ts_tbb2_standard/editprofile_topicsubscriptions.tpl -text
templates/ts_tbb2_standard/editprofile_uploadavatar.tpl -text
templates/ts_tbb2_standard/edittopic_edit.tpl -text
templates/ts_tbb2_standard/edittopic_move.tpl -text
templates/ts_tbb2_standard/forumindex.tpl -text
templates/ts_tbb2_standard/images/Unbenannt-1.gif -text
templates/ts_tbb2_standard/images/blank.gif -text
templates/ts_tbb2_standard/images/button_delete_post.gif -text
templates/ts_tbb2_standard/images/button_edit_post.gif -text
templates/ts_tbb2_standard/images/button_help.gif -text
templates/ts_tbb2_standard/images/button_login.gif -text
templates/ts_tbb2_standard/images/button_logout.gif -text
templates/ts_tbb2_standard/images/button_memberlist.gif -text
templates/ts_tbb2_standard/images/button_myprofile.gif -text
templates/ts_tbb2_standard/images/button_pms.gif -text
templates/ts_tbb2_standard/images/button_post_new_reply.gif -text
templates/ts_tbb2_standard/images/button_post_new_topic.gif -text
templates/ts_tbb2_standard/images/button_quote_post.gif -text
templates/ts_tbb2_standard/images/button_register.gif -text
templates/ts_tbb2_standard/images/button_search.gif -text
templates/ts_tbb2_standard/images/button_user_email.gif -text
templates/ts_tbb2_standard/images/button_user_hp.gif -text
templates/ts_tbb2_standard/images/button_wio.gif -text
templates/ts_tbb2_standard/images/cellcat.gif -text
templates/ts_tbb2_standard/images/cellcat.jpg -text
templates/ts_tbb2_standard/images/celltitle.gif -text
templates/ts_tbb2_standard/images/forum_off.gif -text
templates/ts_tbb2_standard/images/forum_on.gif -text
templates/ts_tbb2_standard/images/info.gif -text
templates/ts_tbb2_standard/images/infopop.gif -text
templates/ts_tbb2_standard/images/minus.gif -text
templates/ts_tbb2_standard/images/plus.gif -text
templates/ts_tbb2_standard/images/poll.gif -text
templates/ts_tbb2_standard/images/sep.gif -text
templates/ts_tbb2_standard/images/topic_off_closed.gif -text
templates/ts_tbb2_standard/images/topic_off_open.gif -text
templates/ts_tbb2_standard/images/topic_off_open_hot.gif -text
templates/ts_tbb2_standard/images/topic_on_closed.gif -text
templates/ts_tbb2_standard/images/topic_on_open.gif -text
templates/ts_tbb2_standard/images/topic_on_open_hot.gif -text
templates/ts_tbb2_standard/images/v1.gif -text
templates/ts_tbb2_standard/images/v1.gif.old -text
templates/ts_tbb2_standard/images/v2.gif -text
templates/ts_tbb2_standard/images/v2.gif.old -text
templates/ts_tbb2_standard/images/v3.gif -text
templates/ts_tbb2_standard/images/v4.gif -text
templates/ts_tbb2_standard/jscripts.js -text
templates/ts_tbb2_standard/login.tpl -text
templates/ts_tbb2_standard/memberlist.tpl -text
templates/ts_tbb2_standard/message.tpl -text
templates/ts_tbb2_standard/navbar.tpl -text
templates/ts_tbb2_standard/pheader.tpl -text
templates/ts_tbb2_standard/pms_addfolder.tpl -text
templates/ts_tbb2_standard/pms_newpm.tpl -text
templates/ts_tbb2_standard/pms_newpmreceived.tpl -text
templates/ts_tbb2_standard/pms_overview.tpl -text
templates/ts_tbb2_standard/pms_viewfolder.tpl -text
templates/ts_tbb2_standard/pms_viewpm.tpl -text
templates/ts_tbb2_standard/pop_pheader.tpl -text
templates/ts_tbb2_standard/pop_ptail.tpl -text
templates/ts_tbb2_standard/postreply.tpl -text
templates/ts_tbb2_standard/posttopic.tpl -text
templates/ts_tbb2_standard/ppicsbox.tpl -text
templates/ts_tbb2_standard/ptail.tpl -text
templates/ts_tbb2_standard/register.tpl -text
templates/ts_tbb2_standard/requestpassword.tpl -text
templates/ts_tbb2_standard/search_form.tpl -text
templates/ts_tbb2_standard/search_viewresults_posts.tpl -text
templates/ts_tbb2_standard/search_viewresults_topics.tpl -text
templates/ts_tbb2_standard/smiliesbox.tpl -text
templates/ts_tbb2_standard/styles/ts_tbb2_standard.css -text
templates/ts_tbb2_standard/template_config.cfg -text
templates/ts_tbb2_standard/viewcat.tpl -text
templates/ts_tbb2_standard/viewforum.tpl -text
templates/ts_tbb2_standard/viewprofile.tpl -text
templates/ts_tbb2_standard/viewprofile_addnote.tpl -text
templates/ts_tbb2_standard/viewprofile_editnote.tpl -text
templates/ts_tbb2_standard/viewprofile_sendmail.tpl -text
templates/ts_tbb2_standard/viewsmilies.tpl -text
templates/ts_tbb2_standard/viewtopic.tpl -text
templates/ts_tbb2_standard/viewtopic_poll_results.tpl -text
templates/ts_tbb2_standard/viewtopic_poll_voting.tpl -text
templates/ts_tbb2_standard/viewwio.tpl -text
/timezones.php -text
update/0.2.0.7.20041116.update -text
update/0.2.0.8.20050121.update -text
/version.php -text
/viewcat.php -text
/viewforum.php -text
/viewhelp.php -text
/viewprofile.php -text
/viewsmilies.php -text
/viewtopic.php -text
/viewwio.php -text
/vote.php -text
