* text=auto !eol
classes/Engine.class.php -text
classes/ExceptionHandler.class.php -text
classes/Functions.class.php -text
classes/Language.class.php -text
classes/ModuleTemplate.class.php -text
classes/Mysql.class.php -text
classes/smarty/Config_File.class.php -text
classes/smarty/Smarty.class.php -text
classes/smarty/Smarty_Compiler.class.php -text
classes/smarty/debug.tpl -text
classes/smarty/internals/core.assemble_plugin_filepath.php -text
classes/smarty/internals/core.assign_smarty_interface.php -text
classes/smarty/internals/core.create_dir_structure.php -text
classes/smarty/internals/core.display_debug_console.php -text
classes/smarty/internals/core.get_include_path.php -text
classes/smarty/internals/core.get_microtime.php -text
classes/smarty/internals/core.get_php_resource.php -text
classes/smarty/internals/core.is_secure.php -text
classes/smarty/internals/core.is_trusted.php -text
classes/smarty/internals/core.load_plugins.php -text
classes/smarty/internals/core.load_resource_plugin.php -text
classes/smarty/internals/core.process_cached_inserts.php -text
classes/smarty/internals/core.process_compiled_include.php -text
classes/smarty/internals/core.read_cache_file.php -text
classes/smarty/internals/core.rm_auto.php -text
classes/smarty/internals/core.rmdir.php -text
classes/smarty/internals/core.run_insert_handler.php -text
classes/smarty/internals/core.smarty_include_php.php -text
classes/smarty/internals/core.write_cache_file.php -text
classes/smarty/internals/core.write_compiled_include.php -text
classes/smarty/internals/core.write_compiled_resource.php -text
classes/smarty/internals/core.write_file.php -text
classes/smarty/plugins/block.textformat.php -text
classes/smarty/plugins/compiler.assign.php -text
classes/smarty/plugins/function.assign_debug_info.php -text
classes/smarty/plugins/function.config_load.php -text
classes/smarty/plugins/function.counter.php -text
classes/smarty/plugins/function.cycle.php -text
classes/smarty/plugins/function.debug.php -text
classes/smarty/plugins/function.eval.php -text
classes/smarty/plugins/function.fetch.php -text
classes/smarty/plugins/function.html_checkboxes.php -text
classes/smarty/plugins/function.html_image.php -text
classes/smarty/plugins/function.html_options.php -text
classes/smarty/plugins/function.html_radios.php -text
classes/smarty/plugins/function.html_select_date.php -text
classes/smarty/plugins/function.html_select_time.php -text
classes/smarty/plugins/function.html_table.php -text
classes/smarty/plugins/function.mailto.php -text
classes/smarty/plugins/function.math.php -text
classes/smarty/plugins/function.popup.php -text
classes/smarty/plugins/function.popup_init.php -text
classes/smarty/plugins/modifier.capitalize.php -text
classes/smarty/plugins/modifier.cat.php -text
classes/smarty/plugins/modifier.count_characters.php -text
classes/smarty/plugins/modifier.count_paragraphs.php -text
classes/smarty/plugins/modifier.count_sentences.php -text
classes/smarty/plugins/modifier.count_words.php -text
classes/smarty/plugins/modifier.date_format.php -text
classes/smarty/plugins/modifier.debug_print_var.php -text
classes/smarty/plugins/modifier.default.php -text
classes/smarty/plugins/modifier.escape.php -text
classes/smarty/plugins/modifier.indent.php -text
classes/smarty/plugins/modifier.lower.php -text
classes/smarty/plugins/modifier.nl2br.php -text
classes/smarty/plugins/modifier.regex_replace.php -text
classes/smarty/plugins/modifier.replace.php -text
classes/smarty/plugins/modifier.spacify.php -text
classes/smarty/plugins/modifier.string_format.php -text
classes/smarty/plugins/modifier.strip.php -text
classes/smarty/plugins/modifier.strip_tags.php -text
classes/smarty/plugins/modifier.truncate.php -text
classes/smarty/plugins/modifier.upper.php -text
classes/smarty/plugins/modifier.wordwrap.php -text
classes/smarty/plugins/outputfilter.trimwhitespace.php -text
classes/smarty/plugins/shared.escape_special_chars.php -text
classes/smarty/plugins/shared.make_timestamp.php -text
config/Core.config.class.php -text
config/DB.config.class.php -text
config/Language.config.class.php -text
config/Template.config.class.php -text
core/ConfigTemplate.class.php -text
core/Core.class.php -text
core/Factory.class.php -text
core/Functions.class.php -text
core/ModuleTemplate.class.php -text
core/Version.php -text
docs/dbstructure.sql -text
docs/farben[!!-~]logo.txt -text
docs/history.txt -text
images/Thumbs.db -text
images/bck.jpg -text
images/dot.gif -text
images/new_smilies/Thumbs.db -text
images/new_smilies/standard_biggrin.gif -text
images/new_smilies/standard_confused.gif -text
images/new_smilies/standard_cool.gif -text
images/new_smilies/standard_cry.gif -text
images/new_smilies/standard_dead.gif -text
images/new_smilies/standard_eek.gif -text
images/new_smilies/standard_embarrassed.gif -text
images/new_smilies/standard_laugh.gif -text
images/new_smilies/standard_mad.gif -text
images/new_smilies/standard_no.gif -text
images/new_smilies/standard_none.gif -text
images/new_smilies/standard_razz.gif -text
images/new_smilies/standard_rolleyes.gif -text
images/new_smilies/standard_sad.gif -text
images/new_smilies/standard_shy.gif -text
images/new_smilies/standard_sleep.gif -text
images/new_smilies/standard_smile.gif -text
images/new_smilies/standard_smilewinkgrin.gif -text
images/new_smilies/standard_uhoh.gif -text
images/new_smilies/standard_upset.gif -text
images/new_smilies/standard_wink.gif -text
images/new_smilies/standard_yes.gif -text
images/postpics/Thumbs.db -text
images/postpics/arrow.gif -text
images/postpics/attention.gif -text
images/postpics/bad.gif -text
images/postpics/cool.gif -text
images/postpics/good.gif -text
images/postpics/grin.gif -text
images/postpics/idea.gif -text
images/postpics/mad.gif -text
images/postpics/note.gif -text
images/postpics/question.gif -text
images/postpics/sad.gif -text
images/postpics/shy.gif -text
images/postpics/smile.gif -text
images/postpics/wink.gif -text
images/rankpics/Thumbs.db -text
images/rankpics/admin.gif -text
images/rankpics/bstar.gif -text
images/rankpics/gstar.gif -text
images/rankpics/mod.gif -text
images/rankpics/rstar.gif -text
images/rankpics/supermod.gif -text
images/rankpics/ystar.gif -text
images/smilies/1.gif -text
images/smilies/10.gif -text
images/smilies/11.gif -text
images/smilies/2.gif -text
images/smilies/3.gif -text
images/smilies/4.gif -text
images/smilies/5.gif -text
images/smilies/6.gif -text
images/smilies/7.gif -text
images/smilies/8.gif -text
images/smilies/9.gif -text
images/smilies/Thumbs.db -text
images/test.jpg -text
images/tsmilies/1.gif -text
images/tsmilies/10.gif -text
images/tsmilies/11.gif -text
images/tsmilies/12.gif -text
images/tsmilies/13.gif -text
images/tsmilies/14.gif -text
images/tsmilies/2.gif -text
images/tsmilies/3.gif -text
images/tsmilies/4.gif -text
images/tsmilies/5.gif -text
images/tsmilies/6.gif -text
images/tsmilies/7.gif -text
images/tsmilies/8.gif -text
images/tsmilies/9.gif -text
images/tsmilies/Thumbs.db -text
/index.php -text
languages/de/BoardRules.language -text
languages/de/EditProfile.language -text
languages/de/ForumIndex.language -text
languages/de/Language.config -text
languages/de/Login.language -text
languages/de/Main.language -text
languages/de/Messages.language -text
languages/de/PageParts.language -text
languages/de/Posting.language -text
languages/de/PrivateMessages.language -text
languages/de/Register.language -text
languages/de/TimeZones.language -text
languages/de/ViewForum.language -text
languages/de/ViewTopic.language -text
languages/de/WhoIsOnline.language -text
languages/de/mails/RegistrationAccountVerification.mail -text
languages/de/mails/RegistrationWelcome.mail -text
modules/Ajax.class.php -text
modules/Auth.class.php -text
modules/Cache.class.php -text
modules/Config.class.php -text
modules/DB.class.php -text
modules/EditProfile.class.php -text
modules/ForumIndex.class.php -text
modules/Language.class.php -text
modules/Login.class.php -text
modules/Logout.class.php -text
modules/MemberList.class.php -text
modules/Navbar.class.php -text
modules/PageParts.class.php -text
modules/Posting.class.php -text
modules/PrivateMessages.class.php -text
modules/Register.class.php -text
modules/Session.class.php -text
modules/Template.class.php -text
modules/Template/Config_File.class.php -text
modules/Template/Smarty.class.php -text
modules/Template/Smarty_Compiler.class.php -text
modules/Template/debug.tpl -text
modules/Template/internals/core.assemble_plugin_filepath.php -text
modules/Template/internals/core.assign_smarty_interface.php -text
modules/Template/internals/core.create_dir_structure.php -text
modules/Template/internals/core.display_debug_console.php -text
modules/Template/internals/core.get_include_path.php -text
modules/Template/internals/core.get_microtime.php -text
modules/Template/internals/core.get_php_resource.php -text
modules/Template/internals/core.is_secure.php -text
modules/Template/internals/core.is_trusted.php -text
modules/Template/internals/core.load_plugins.php -text
modules/Template/internals/core.load_resource_plugin.php -text
modules/Template/internals/core.process_cached_inserts.php -text
modules/Template/internals/core.process_compiled_include.php -text
modules/Template/internals/core.read_cache_file.php -text
modules/Template/internals/core.rm_auto.php -text
modules/Template/internals/core.rmdir.php -text
modules/Template/internals/core.run_insert_handler.php -text
modules/Template/internals/core.smarty_include_php.php -text
modules/Template/internals/core.write_cache_file.php -text
modules/Template/internals/core.write_compiled_include.php -text
modules/Template/internals/core.write_compiled_resource.php -text
modules/Template/internals/core.write_file.php -text
modules/Template/plugins/block.textformat.php -text
modules/Template/plugins/compiler.assign.php -text
modules/Template/plugins/compiler.defun.php -text
modules/Template/plugins/function.assign_debug_info.php -text
modules/Template/plugins/function.config_load.php -text
modules/Template/plugins/function.counter.php -text
modules/Template/plugins/function.cycle.php -text
modules/Template/plugins/function.debug.php -text
modules/Template/plugins/function.eval.php -text
modules/Template/plugins/function.fetch.php -text
modules/Template/plugins/function.html_checkboxes.php -text
modules/Template/plugins/function.html_image.php -text
modules/Template/plugins/function.html_options.php -text
modules/Template/plugins/function.html_radios.php -text
modules/Template/plugins/function.html_select_date.php -text
modules/Template/plugins/function.html_select_time.php -text
modules/Template/plugins/function.html_table.php -text
modules/Template/plugins/function.mailto.php -text
modules/Template/plugins/function.math.php -text
modules/Template/plugins/function.popup.php -text
modules/Template/plugins/function.popup_init.php -text
modules/Template/plugins/modifier.capitalize.php -text
modules/Template/plugins/modifier.cat.php -text
modules/Template/plugins/modifier.count_characters.php -text
modules/Template/plugins/modifier.count_paragraphs.php -text
modules/Template/plugins/modifier.count_sentences.php -text
modules/Template/plugins/modifier.count_words.php -text
modules/Template/plugins/modifier.date_format.php -text
modules/Template/plugins/modifier.debug_print_var.php -text
modules/Template/plugins/modifier.default.php -text
modules/Template/plugins/modifier.escape.php -text
modules/Template/plugins/modifier.indent.php -text
modules/Template/plugins/modifier.lower.php -text
modules/Template/plugins/modifier.nl2br.php -text
modules/Template/plugins/modifier.regex_replace.php -text
modules/Template/plugins/modifier.replace.php -text
modules/Template/plugins/modifier.spacify.php -text
modules/Template/plugins/modifier.string_format.php -text
modules/Template/plugins/modifier.strip.php -text
modules/Template/plugins/modifier.strip_tags.php -text
modules/Template/plugins/modifier.truncate.php -text
modules/Template/plugins/modifier.upper.php -text
modules/Template/plugins/modifier.wordwrap.php -text
modules/Template/plugins/outputfilter.trimwhitespace.php -text
modules/Template/plugins/shared.escape_special_chars.php -text
modules/Template/plugins/shared.make_timestamp.php -text
modules/ViewForum.class.php -text
modules/ViewTopic.class.php -text
modules/WhoIsOnline.class.php -text
templates/std/templates/AjaxResult.xml -text
templates/std/templates/EditProfileAvatar.tpl -text
templates/std/templates/EditProfileExtendedProfile.tpl -text
templates/std/templates/EditProfileGeneral.tpl -text
templates/std/templates/EditProfileHeader.tpl -text
templates/std/templates/EditProfileMemo.tpl -text
templates/std/templates/EditProfileProfileSettings.tpl -text
templates/std/templates/EditProfileTail.tpl -text
templates/std/templates/EditProfileTopicSubscriptions.tpl -text
templates/std/templates/EditProfileUploadAvatar.tpl -text
templates/std/templates/FatalError.tpl -text
templates/std/templates/ForumIndex.tpl -text
templates/std/templates/Login.tpl -text
templates/std/templates/MemberList.tpl -text
templates/std/templates/Message.tpl -text
templates/std/templates/PPicsBox.tpl -text
templates/std/templates/PageHeader.tpl -text
templates/std/templates/PageTail.tpl -text
templates/std/templates/PopupHeader.tpl -text
templates/std/templates/PopupTail.tpl -text
templates/std/templates/Posting.tpl -text
templates/std/templates/PrivateMessagesAddFolder.tpl -text
templates/std/templates/PrivateMessagesDefault.tpl -text
templates/std/templates/PrivateMessagesDeleteFolder.tpl -text
templates/std/templates/PrivateMessagesEditFolder.tpl -text
templates/std/templates/PrivateMessagesHeader.tpl -text
templates/std/templates/PrivateMessagesManageFolders.tpl -text
templates/std/templates/PrivateMessagesNewPM.tpl -text
templates/std/templates/PrivateMessagesTail.tpl -text
templates/std/templates/PrivateMessagesViewPM.tpl -text
templates/std/templates/RegisterBoardRules.tpl -text
templates/std/templates/RegisterRegisterForm.tpl -text
templates/std/templates/SmiliesBox.tpl -text
templates/std/templates/ViewForum.tpl -text
templates/std/templates/ViewTopic.tpl -text
templates/std/templates/WhoIsOnline.tpl -text
templates/std/templates/ajax.js -text
templates/std/templates/images/Thumbs.db -text
templates/std/templates/images/Unbenannt-1.gif -text
templates/std/templates/images/blank.gif -text
templates/std/templates/images/button_delete_post.gif -text
templates/std/templates/images/button_edit_post.gif -text
templates/std/templates/images/button_help.gif -text
templates/std/templates/images/button_login.gif -text
templates/std/templates/images/button_logout.gif -text
templates/std/templates/images/button_memberlist.gif -text
templates/std/templates/images/button_myprofile.gif -text
templates/std/templates/images/button_pms.gif -text
templates/std/templates/images/button_post_new_reply.gif -text
templates/std/templates/images/button_post_new_topic.gif -text
templates/std/templates/images/button_quote_post.gif -text
templates/std/templates/images/button_register.gif -text
templates/std/templates/images/button_search.gif -text
templates/std/templates/images/button_user_email.gif -text
templates/std/templates/images/button_user_hp.gif -text
templates/std/templates/images/button_wio.gif -text
templates/std/templates/images/buttons/de/AddReply.png -text
templates/std/templates/images/buttons/de/AddTopic.png -text
templates/std/templates/images/buttons/de/delete.png -text
templates/std/templates/images/buttons/de/email.png -text
templates/std/templates/images/buttons/de/help.png -text
templates/std/templates/images/buttons/de/login.png -text
templates/std/templates/images/buttons/de/logout.png -text
templates/std/templates/images/buttons/de/memberlist.png -text
templates/std/templates/images/buttons/de/myprofile.png -text
templates/std/templates/images/buttons/de/pms.png -text
templates/std/templates/images/buttons/de/quote.png -text
templates/std/templates/images/buttons/de/register.png -text
templates/std/templates/images/buttons/de/search.png -text
templates/std/templates/images/buttons/de/test.png -text
templates/std/templates/images/buttons/de/whoisonline.png -text
templates/std/templates/images/cellcat.gif -text
templates/std/templates/images/cellcat.jpg -text
templates/std/templates/images/celltitle.gif -text
templates/std/templates/images/forum_off.gif -text
templates/std/templates/images/forum_on.gif -text
templates/std/templates/images/icons/Attention.png -text
templates/std/templates/images/icons/FolderDelete.png -text
templates/std/templates/images/icons/FolderEdit.png -text
templates/std/templates/images/icons/FolderGo.png -text
templates/std/templates/images/icons/Info.gif -text
templates/std/templates/images/icons/PrivateMessageDelete.png -text
templates/std/templates/images/icons/PrivateMessageRead.png -text
templates/std/templates/images/icons/PrivateMessageReadReplied.png -text
templates/std/templates/images/icons/PrivateMessageUnread.png -text
templates/std/templates/images/icons/Thumbs.db -text
templates/std/templates/images/icons/Warning.png -text
templates/std/templates/images/lightbulb_a.gif -text
templates/std/templates/images/minus.gif -text
templates/std/templates/images/plus.gif -text
templates/std/templates/images/poll.gif -text
templates/std/templates/images/sep.gif -text
templates/std/templates/images/topic_off_closed.gif -text
templates/std/templates/images/topic_off_open.gif -text
templates/std/templates/images/topic_off_open_hot.gif -text
templates/std/templates/images/topic_on_closed.gif -text
templates/std/templates/images/topic_on_open.gif -text
templates/std/templates/images/topic_on_open_hot.gif -text
templates/std/templates/images/v1.gif -text
templates/std/templates/images/v1.gif.old -text
templates/std/templates/images/v2.gif -text
templates/std/templates/images/v2.gif.old -text
templates/std/templates/images/v3.gif -text
templates/std/templates/images/v4.gif -text
templates/std/templates/jscripts.js -text
templates/std/templates/styles/ts_tbb2_standard.css -text
