;
; Tritanium Bulletin Board 2 - german translation
; (c) 2005-2006 Tritanium Scripts
; http://www.tritanium-scripts.com
;


; name of language (english)
language_name = "German"

; name of language (native)
language_name_native = "Deutsch"

; supported languages, seperate witch commas
supported_languages = "de,de-de"